In [1]:
import pandas as pd
import numpy as np

In [2]:
class_list=['A','A','B','B','A','C']
cat_list=[1,1,1,2,1,2]
num_list=list(np.zeros(6))

In [3]:
df=pd.DataFrame(list(zip(class_list,cat_list,num_list)),
                columns=['Class','Category','Number'])
df['Number']=df['Number'].astype(int) # Convert numbers from float to int
df

  Class  Category  Number
0     A         1       0
1     A         1       0
2     B         1       0
3     B         2       0
4     A         1       0
5     C         2       0

In [4]:
df['Class'].unique()

array(['A', 'B', 'C'], dtype=object)

In [5]:
df.groupby(by='Class')['Class'].count()

Class
A    3
B    2
C    1
Name: Class, dtype: int64